@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  background: #141414;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2 {
  margin: 0;
  padding: 0;
}

/* Info component */
.container {
  width: 575px;
  height: 980px;
  position: fixed;
  background: #303332;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}
.Info {
  width: 475px;
  margin: 2.1rem 5rem 0rem 5rem;
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: rgb(39, 38, 36);
}
.picture {
  width: 340px;
  height: 325px;
  border-radius: 10rem;
  margin-top: 1rem;
}
h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: white;
  margin: 5px 0 0 0;
}
h2 {
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
}
.website {
  font-weight: 400;
  color:rgb(190, 134, 247);
  margin: 0.5rem 0 0.5rem 0;
  text-decoration: none;
}
.website:hover {
  color: rgb(212, 247, 188);
}
.info--links {
  display: flex;
  gap: 1rem;
}
.email, .resume {
  font-weight: 400;
  color: #303332;
  text-decoration: none;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.5rem 0 0.5rem 0;
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.resume {
  padding-right: 1rem;
  padding-left: 1rem;
}
.email:hover, .resume:hover {
background-color: rgb(212, 247, 188);
}
/* Info component */

/* About and Interests components */
.container2 {
  width: 475px;
  margin: 0;
  padding: 0 1rem 1rem 1rem;
  background-color: rgb(39, 38, 36);
}
h3 {
  margin: 1rem 1rem .2rem 1rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Inter", sans-serif; 
}
p {
  margin: 0 15px 15px 15px;
  color: white;
  font-size: 0.94rem;
  font-weight: 300;
}
/* About and Interests components */

/* Skills component */
ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
  padding: 0;
  margin: 0.5rem 0 0.5rem 0;
}
li {
  border-radius: 1rem;
  color: white;
  background-color: rgb(190, 134, 247);
  padding: .5rem;
  font-weight: 500;
}
/* Skills component */

/* Footer */
footer {
  width: 507px;
  height: 50px;
  background-color: rgb(27, 27, 26);
  margin-bottom: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.socials {
  color:rgb(190, 134, 247);
  font-size: 2.6rem;
}
.socials:hover {
  color: rgb(212, 247, 188);
}
/* Footer */

